{
  "mqtt": {
    "host": "192.168.0.17",
    "port": 1883,
    "username": "mqtt_user",
    "password": "mqtt_password"
  },
  "root_topic": "hmd",
  "default_pulse_seconds": 3,
  "call_state_poll_seconds": 5,
  "ring_timeout_seconds": 60,
  "log_level": "INFO",
  "doorbells": [
    {
      "name": "Portier-Ext",
      "ip": "192.168.0.70",
      "port": 8000,
      "username": "admin",
      "password": "xxx",
      "type": "outdoor",
      "num_relays": 2,
      "relay_pulse": { "1": 3, "2": 5 }
    },
    {
      "name": "Portier-garage",
      "ip": "192.168.0.71",
      "port": 8000,
      "username": "admin",
      "password": "xxx",
      "type": "outdoor",
      "num_relays": 2,
      "relay_pulse": { "1": 3, "2": 8 }
    },
    {
      "name": "Portier-Int",
      "ip": "192.168.0.72",
      "port": 8000,
      "username": "admin",
      "password": "xxx",
      "type": "indoor",
      "num_relays": 2
    }
  ]
}
